.OP {
  font-size: 36px;
  font-weight: 600;
  line-height: 39.6px;
  margin: 30px 30px 20px 36px;
}

.Sub {
  margin-top: 0;
  margin-left: 36px;
  margin-bottom: 50px;
  font-weight: 300;
  font-size: 16px;
  color: #222222

}
